.bg-color {
  background-color: rgb(239, 239, 239);
}

.ft-color {
  background-color: #616161;
}

.article {
  background-color: #ffffff;
  padding: 4em;
  box-shadow: 0 4 7;
  border-radius: 5px;
  width: 75%;
}

.tile {
  background-color: #ffffff;
  padding: 4em;
  box-shadow: 0 4 7;
  border-radius: 5px;
  width: 50%;
}

@media only screen and (min-width : 768px) {
  .article-new {
      float: right;
  }
}

.article-new{
  display: flex;
  background-color: #ffffff;
  padding: 4em;
  box-shadow: 0px 4px 4px rgba(49, 49, 49, 0.5);
  border-radius: 1px;
  width: 35rem;
}