/* img {
  width: 100%
} */

h1 {
  font-family: Raleway;
}

.bg-color {
  background-color: rgb(239, 239, 239);
}

.ft-color {
  background-color: #616161;
}


.article {
  background-color: #ffffff;
  padding: 4em;
  box-shadow: 0 4 7;
  border-radius: 5px;
  width: 75%;
}

.tile {
  background-color: #ffffff;
  padding: 4em;
  box-shadow: 0 4 7;
  border-radius: 5px;
  width: 50%;
}

/* @media only screen and (min-width : 922px) {
  .article-new {
      justify-content: center;
  }
} */

.card{
  box-shadow: 0px 4px 4px rgba(49, 49, 49, 0.5);
  border-radius: 0rem;
}

.card-img-top{
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}

.article-new{
  background-color: #ffffff;
  justify-content: end;
  padding: 0em;
  box-shadow: 0px 4px 4px rgba(49, 49, 49, 0.5);
  border-radius: 1px;
  width: 100%;
}